[package]
name = "xxim_sdk"
version = "0.0.0"
edition = "2021"

[lib]
crate-type = ["staticlib", "cdylib"]

[build-dependencies]
flutter_rust_bridge_codegen = "1.62.*"
tonic-build = "0.9.2"

[dependencies]
flutter_rust_bridge = "1.62.*"
protobuf = "3.2.0"
rusqlite = { version = "0.29.0", features = ["bundled"] }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
chrono = "0.4"
lazy_static = "1.4.0"
reqwest = { version = "0.11.18", features = ["blocking"] }
tokio = { version = "1.13", features = ["rt", "rt-multi-thread", "time"] }
tonic = "0.9.2"
prost = { version = "0.11.9", default_features = false, features = ["prost-derive"] }
tokio-test = "0.4.2"
tokio-util = "0.7.8"
base64 = "0.21.2"

[dependencies.uuid]
version = "1.3.4"
features = [
    "v4", # Lets you generate random UUIDs
    "fast-rng", # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]

[dev-dependencies]

#针对 aarch64-linux-android 的打包依赖 openssl改为动态链接库
[target.aarch64-linux-android.dependencies]
openssl = { version = "0.10.55", features = ["vendored"] }

#armv7-linux-androideabi
[target.armv7-linux-androideabi.dependencies]
openssl = { version = "0.10.55", features = ["vendored"] }

#i686-linux-android
[target.i686-linux-android.dependencies]
openssl = { version = "0.10.55", features = ["vendored"] }

#x86_64-linux-android
[target.x86_64-linux-android.dependencies]
openssl = { version = "0.10.55", features = ["vendored"] }